
        @media screen and (max-width:1000px) {
            .navbar {
                flex-direction: column;
                height: 180px;
                padding: 15px;
            }

            .navbar .logo img {
                width: 90px;
            }

            .navbar .logo {

                margin: 10px 26px;
            }

            .navbar .nav-list {

                margin: 15px;
            }

            .search {

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .search .btn {
                margin-top: 7px;
            }
        }